.grid {
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.grid .text-container {
    padding-left: 30px;
}

.heading {
    font-size: 1.3em;
    position: relative;
    margin-bottom: 25px;
    font-weight: 100;
}

.heading::before {
    width: 100px;
    height: 5.5px;
    position: absolute;
    bottom: -8px;
    content: "";
}

.teal.heading::before {
    background-color: #00969D;
}

.red.heading::before {
    background-color: #920118;
}

.yellow.heading::before {
    background-color: #F7C13E;
}

.copy {
    font-weight: 100;
    font-size: 0.88em;
}

.copy ul {
    padding-left: 15px;
}

.copy ul li {
    margin-bottom: 0.5rem;
}

.copy ul.url {
    padding-left: 18px;
}

.copy ul.url li.link {
    list-style-type: disclosure-closed;
}

.page-hero.banner .row {
    min-height: 30vh;
}

.btn-register {
    background-color: #920118;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    transition: all 0.3s;
    padding: 10px 17px;
}

.btn-register:hover,
.btn-register:focus {
    background-color: #770013;
    color: #fff;
}

footer {
    position: relative;
    color: #fff;
}

footer > div {
    background-color: #920118;
}

footer #curve {
    /*top: -15vh;*/
    bottom: -10px;
    position: relative;
}

footer #curve path {
    fill: #920118;
}

.footer-title {
    margin-bottom: 40px;
}

footer .logos {
    margin-bottom: 30px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer .social {
    text-align: center;
    margin-bottom: 30px;
}

footer .social ul {
    padding: 0;
}

.social ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
}

.social ul li a {
    font-size: 18px;
}

.circle-icon {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.circle-icon:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.3);
}

footer .address {
    text-decoration-color: center;
    text-align: center;
}

footer .address a {
    font-weight: 100;
}

footer .address a:hover,
footer .address a:focus {
    text-decoration: underline;
    color: #fff;
}

footer .footer-menu ul li {
    padding: 0 5px;
    list-style-type: none;
    text-align: center;
}

footer .footer-menu ul li a {
    font-size: 0.94em;
    font-weight: 100;
}

footer .footer-menu ul li a:hover,
footer .footer-menu ul li a:focus {
    font-size: 0.94em;
    font-weight: 100;
    text-decoration: underline;
    color: #fff;
}

footer .footer-menu ul {
    padding: 0;
}

select.brand-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/angle-down.png) no-repeat 95%;
        background-color: rgba(0, 0, 0, 0);
    background-size: 0.91rem;
    background-color: #fff;
}

.brand-filter, .brand-filter:focus {
    background-color: #fff;
    border: none;
    border-radius: 0;
    font-size: 90%;
    padding: 9px 15px;
    height: 100%;
    box-shadow: none;
}

.help-block.form-error {
    color: #bc0000;
    background-color: #f6c0c0;
    padding: 5px 10px;
    font-size: 11px;
    margin-top: 5px;
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
    display: block;
    text-transform: none;
}

.logos .col-md-2 {
    margin-bottom: 20px;
}

form .form-group {
    margin-bottom: 2rem;
}

.page-hero.banner {
    background-position: center;
}

@media (max-width: 767px) {
    .grid .text-container {
        padding-left: 0px;
    }

    .grid .heading {
        margin-top: 20px;
    }
}