::-moz-selection {
    color: #ffffff;
    background-color: #00868C;
}

::selection {
    color: #ffffff;
    background-color: #00868C;
}

@font-face {
  font-family: avenir;
  src: url('../fonts/ar.otf');
}

body {
    font-family: 'avenir', sans-serif;
    color: #424242;
}

a {
    font-weight: 700;
    color: #000;
}

/*
Back to top
*/

button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,
    {
    outline: 0 !important;
}

button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    vertical-align: middle;
    margin: -5px 0 auto;
}

button.back-to-top.show {
    display: block;
    background: #fff;
    color: #ee409d;
    font-size: 20px;
    right: 15px;
    bottom: 15px;
    height: 30px;
    width: 30px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/* End */

.btn:focus {
    box-shadow: none;
    outline: none;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0));
}

.page-hero {
    color: #fff;
    position: relative;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-hero .row {
	min-height: 65vh;
}

.page-hero .hero-text {
	text-align: right;
    font-weight: 700;
    font-size: 3.3em;
}

.page-hero .hero-desc {
	text-align: right;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 1.2px;
}

.logo {
    width: 175px;
}

#curve {
    position: relative;
    bottom: -10px;
    width: 100%;
}

#curve path {
    fill: #fff;
}

.pseudo-nav {
    position: relative;
    text-align: center;
}

.pseudo-nav > div {
	margin-bottom: 10px;
}

@media (max-width: 767px) {
    .page-hero .hero-text, .page-hero .hero-desc {
	text-align: center;
}
}